
body{
  background-image: url(https://play-lh.googleusercontent.com/zPxLgj5nvl20ahJV7aFC6S5mD8kii5CEEDj25j1P9CYAfXL9sdDuO-8eES0r4DhJHrU);
}

.grid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr ;
  grid-gap: 15px;
}

.box{
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  font-size: 30px;
  color: #000;
}